@model IEnumerable<App.Models.Banner>
    <div class="container">
<p>
    <a asp-action="CriarBanner" class="fonte-cool text-danger">Cadastre um novo Banner</a>
</p>
<table class="table-responsive">
    <table class="table text-white">
    <thead>
        <tr>
            <th class="fonte-cool"> @Html.DisplayNameFor(model => model.Imagem) </th>
            <th class="fonte-cool"> @Html.DisplayNameFor(model => model.Titulo) </th>
            <th class="fonte-cool"> @Html.DisplayNameFor(model => model.Subtitulo) </th>
            <th class="fonte-cool"> @Html.DisplayNameFor(model => model.Link) </th>
            <th class="fonte-cool"> @Html.DisplayNameFor(model => model.Exibir) </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/fotos/@item.Imagem" alt="" style="width:100px"></td>
                <td class="fonte-cool"> @Html.DisplayFor(modelItem => item.Titulo)</td>
                <td class="fonte-cool"> @Html.DisplayFor(modelItem => item.Subtitulo) </td>
                <td class="fonte-cool"> @Html.DisplayFor(modelItem => item.Link)</td>
                <td class="fonte-cool"> @Html.DisplayFor(modelItem => item.Exibir) </td>
                <td>
                    <a asp-action="EditarBanner" asp-route-id="@item.BannerId"><i
                                    class="bi bi-pencil-square text-white fs-3 me-2"></i></a>
                            <a asp-action="DeletarBanner" asp-route-id="@item.BannerId"><i
                                    class="bi bi-trash3-fill ms-2 text-white fs-3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table></table>
</div>